/* Reduce padding and font size for compact inputs */
.beatquote-customform-input,
.beatquote-customform-input-number,
.beatquote-customform-textarea {
  font-size: 0.8rem; /* Smaller font size */
  /* padding: 4px 6px; Reduced padding */
  height: 28px; /* Decreased height */
  border-radius: 4px; /* Smaller border radius */
  border: 1px solid #ccc;
}
.beatquote-customform-heading {
  font-size: 1.5rem;
  color: white; /* White text */
  margin: 0;
}
.beatquote-customform-input-number {
  width: auto;
}
.beatquote-customform-item-row {
  display: flex;
  justify-content: space-between;
}
/* Reduce select field size */
.beatquote-customform-select {
  font-size: 0.8rem;
  height: 28px;
}

/* Reduce the size of the submit button */
.beatquote-customform-submit-button {
  font-size: 0.9rem;
  padding: 6px 10px;
  height: 32px;
}

/* Reduce spacing between form items */
.ant-form-item {
  margin-bottom: 8px; /* Less gap between form fields */
}

/* Reduce file input size */
input[type="file"] {
  font-size: 0.8rem;
  padding: 2px;
}
.beatquote-customform-wrapper {
  padding: 5px;
  border-radius: 8px; /* Rounded corners */
  transition: all 0.3s ease-in-out;
}
.beatquote-customform-container {
  border: 1px solid #5f6f65;
  padding: 15px;
}
.beatquote-customform-header {
  background-color: #5f6f65; /* Background for heading */
  padding: 10px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}
.beatquote-scrolled {
  margin-top: 5rem !important;
  transition: margin-top 0.3s ease-in-out;
}
