.card-container {
  max-width: 95%; /* Ensures the container is aligned */
  margin: 0 auto; /* Centers the container */
  padding: 20px;
}

.main-heading {
  text-align: left; /* Aligns the heading to the left */
  margin-bottom: 20px; /* Adds space between heading and grid */
  margin-left: 3rem;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 700;
  color: #5f6f65; /* Adjust color as needed */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 1.2rem;
  text-align: center;
  background-color: #faf4eb !important; /* Replace with your desired background color */
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none !important;
}

.card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.4rem;
  font-weight: 600;
}

.card:hover {
  background-color:rgb(95, 111, 101, 0.7) !important;
  color: white;
}

@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
