.card-container {
  max-width: 95%; /* Ensures the container is aligned */
  margin: 0 auto; /* Centers the container */
  padding: 20px;
}

.main-heading {
  text-align: left; /* Aligns the heading to the left */
  margin-bottom: 20px; /* Adds space between heading and grid */
  margin-left: 3rem;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 700;
  color: #5f6f65; /* Adjust color as needed */
}
.main-heading-products {
  text-align: left; /* Aligns the heading to the left */
  margin-bottom: 20px; /* Adds space between heading and grid */
  margin-left: 3rem;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #5f6f65; /* Adjust color as needed */
}

.card-grid {
  width: 95%;
}

.headingnsearch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(95, 111, 101, 0.8),
    rgba(95, 111, 101, 0.9)
  );
  border-radius: 50px;
  padding: 10px;
  width: 70%;
  max-width: auto;
  margin: 20px auto;
  text-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.search-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #5f6f65;
  background: #faf4eb;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-button {
  background-color: #5f6f65;
  color: #faf4eb;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-button:hover {
  background-color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.row-clothingcards-width {
  margin: 0 auto;
  padding: 20px; /* Add padding around the grid */
}

.card {
  width: 100%; /* Ensures the card uses full width of the column */
  height: 100%;
  padding: 20px;
  border-radius: 1rem; /* Slightly rounded corners for a soft look */
  background-color: #faf4eb;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  font-size: 1.4rem; /* Adjust font size to make it more readable */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for card depth */
}
.right-column {
  position: sticky;
  top: 10px; /* Adjust as needed for spacing */
  align-self: flex-start; /* Ensures proper alignment in flex containers */
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 1rem; /* Add rounded corners to image */
}

.card-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333; /* Text color */
  text-align: center;
}

.card:hover {
  background-color: rgb(95, 111, 101, 0.7);
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Highlight on hover */
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}
@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}
