/* orderhistory.css */
.order-heading{
text-align: center;
font-weight: bold;
font-size: 2rem;
}
.orderhistory-container {
    margin: 20px;
    padding: 10px;
    display: flex; /* Flexbox to center the table */
    justify-content: center; /* Center align horizontally */
  }
  
  .orderhistory-table {
    width: 80%; /* Adjust the table width as per your requirement */
    border-collapse: collapse;
    table-layout: fixed; /* This ensures all columns are the same width */
  }
  
  .orderhistory-th,
  .orderhistory-td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word; /* Ensures long text wraps inside the cell */
  }
  
  .orderhistory-th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .orderhistory-td {
    background-color: #fff;
  }
  