.image-viewcart {
  width: 10rem;
  height: auto;
  margin-top: 3rem;
}

.custom-viewedit {
  font-size: larger;
  font-weight: 700;
  color: #037cb8;
}

.summary-viewedit {
  font-size: 2rem;
}

.estimated-view {
  width: 50%;
}

.sub-viewed {
  display: flex;
  justify-content: space-between;
}

.order-viewed {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.button1-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically (if needed) */
  margin-top: 2rem;
}

.Button1-viewed {
  padding: 10px 20px;
  background-color: #070707;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 100%;
  max-width: 200px; /* Max width for the button */
  cursor: pointer;
  margin-bottom: 4rem;
  font-weight: bold;
}

.Button1-viewed:hover {
  background-color: #fcfcfc !important;
  color: #070707 !important;
  border-color: #070707 !important;
}

.fourth-col-viewcart {
  flex: 1;
  padding: 10px;
  background-color: lightgray;
  height: 22rem;
}

.cart-price-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.cart-item-detail {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.price-label,
.qty-label,
.subtotal-label {
  font-weight: bold;
}

.qty-input {
  width: 60px;
}

.subtotal-value {
  font-weight: bold;
}
.main-view-cart{
  margin-bottom: 3rem;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .main-view-cart {
    display: grid !important;
  }
}
