.main-express {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.first-main-express {
  padding-top: 0.2rem;
}
.breadcrumb {
  margin-top: 1rem;
  color: #faf4eb !important;
}
.ant-breadcrumb a {
  color: #faf4eb;
}
.headingbread {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5f6f65;
  color: #faf4eb;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.express-clothing-heading {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 4rem;
}
.column-direction-express {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inside-col-dire {
  display: flex;
}
.ant-breadcrumb li:last-child {
  color: #faf4eb;
}
.simpletable-heading {
  margin-left: 2rem;
}
.process-express {
  padding: 3rem;
  background-color: #5f6f65;
  color: #faf4eb;
  width: 98%;
  margin-top: 2rem;
}
.process-image-text{
    display: block;
}
.process-main-divs {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.process-divs {
    display: flex;
    gap: 1rem;
    align-items: center;
}
@media (max-width: 1100px) {
  .simpletable-heading {
    text-align: center;
  }
  .main-express {
    display: block;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .headingbread {
    display: block;
  }
  .inside-col-dire {
    display: grid;
  }
  .main-express {
    padding: 0rem;
  }
}
