/* LastTable.css */

.ant-table th,
.ant-table td {
  text-align: left; /* Centering text for better appearance */
}
.selected-row {
  background-color: #e6f7ff !important; /* Light blue background */
  color: #1890ff; /* Ant Design primary color */
  font-weight: bold;
}

@media (min-width: 768px) {
  .ant-table th:nth-child(1),
  .ant-table td:nth-child(1) {
    width: 200px; /* Width for Quantity column */
  }
  .ant-table th:nth-child(2),
  .ant-table td:nth-child(2) {
    width: 200px; /* Width for Unit Price column */
  }
  .ant-table th:nth-child(3),
  .ant-table td:nth-child(3) {
    width: 200px; /* Width for Total column */
  }
}
 
 
@media (max-width: 425px) {
  .ant-table-wrapper {
    overflow-x: auto; /* Allow horizontal scroll */
  }

  .ant-table {
    width: 300px; /* Set a fixed width for table to allow scrolling */
  }
}
