/* Styling for the slider container */
.trusted {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Heading for the slider */
.trustedtext {
  font-weight: bold;
  text-align: left;
  margin-left: 2rem;
  font-size: x-large;
  color: #5f6f65;
  text-decoration: underline;
}

/* Slick slider default container */
.scrolling-slider {
  overflow: hidden;
}

/* Logo container inside the slider */
.logo-container {
  display: flex;
  justify-content: center;
}

/* Individual logo styling */
.logo {
  height: 8rem;
  width: auto;
  margin: 0 auto;
}

/* Media Queries for responsiveness */
@media (max-width: 480px) {
  .trustedtext {
    font-size: medium;
    margin-left: 1rem;
  }

  .logo {
    height: 6rem;
  }
}
