.question-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.image-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.text-col {
  text-align: center;
}
.button-col {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}
.contact-button {
  padding: 10px 20px;
  background-color: #070707;
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 12rem;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.contact-button:hover {
  background-color: #fcfcfc;
  color: #070707;
  border-color: #070707;
}

.img-bulb {
  width: 10rem;
  height: auto;
}

.question-text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
}

.we-text {
  margin: 0 1rem;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 767px) {
  .image-col {
    justify-content: center;
  }
  .button-col {
    justify-content: center;
  }
  .question-text,
  .we-text {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .question-row {
    flex-direction: row;
  }
}

@media (max-width: 576px) {
  .we-text {
    white-space: normal;
  }
}
