@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #faf4eb;
}
p {
  font-family: "Space Grotesk", sans-serif;
}
.ant-btn {
  font-family: "Space Grotesk", sans-serif;
}
.ant-card .ant-card-body {
  background: #faf4eb !important;
  text-align: center;
}
.ant-card {
  background: #faf4eb !important;
}
@font-face {
  font-family: "CustomFont";
  src: url("../public/fonts/AtkinsCd-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font to heading tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CustomFont", sans-serif;
}
