* {
  margin: 0;
  padding: 0;
}

/* Define Regular Font */
@font-face {
  font-family: "CustomFont-Regular";
  src: url("../public/fonts/AtkinsCd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define Bold Font */
@font-face {
  font-family: "CustomFont-Bold";
  src: url("../public/fonts/AtkinsCd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Apply bold font to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CustomFont-Bold", sans-serif;
  font-weight: bold;
}

/* Apply regular font to everything else */
body,
strong,
p,
span,
div,
.ant-btn,
.ant-card,
.ant-card .ant-card-body {
  font-family: "CustomFont-Regular", sans-serif;
  font-weight: normal;
}

body {
  background-color: #faf4eb;
}
