/* mainnav.css */
.mainnav-navbar {
  padding: 10px 20px;
  position: fixed; /* Make the navbar sticky */
  top: 5; /* Initially 5px from the top */
  left: 0;
  width: 100%; /* Take the full width of the screen */
  z-index: 1000; /* Ensure it stays on top of other elements */
  transition: all 0.3s ease; /* Smooth transition for any future styling changes */
}

.mainnav-navbar.scrolled {
  top: 0; /* Set top to 0 when scrolled */
}

.main-content {
  margin-top: 80px; /* Adjust based on your navbar height */
}
.mainnav-logo {
  width: 9rem;
}
.mainnav-image1 {
  width: 9rem;
}

.mainnav-container {
  display: flex;
  align-items: center;
}

.mainnav-brand {
  margin-right: auto; /* Push the centered tabs to the center */
}
.dropdown-menu {
  background-color: black !important; /* Sets the dropdown background color to black */
}

.nav-dropdown-item {
  font-size: large;
  font-weight: 700;
  color: white !important; /* Sets the text color of dropdown items to white */
}

/* Optional: Change text color on hover */
.nav-dropdown-item:hover {
  background-color: gray; /* Change this to your preferred hover color */
  color: white !important; /* Ensure the text remains white on hover */
}

.mainnav-collapse {
  display: flex;
  justify-content: end; /* Ensure space between items */
  align-items: center;
  gap: 2rem;
}

.mainnav-nav {
  display: flex;
  align-items: center; /* Vertically center items */
  font-weight: bold;
}

.mainnav-link {
  font-size: 1.1rem;
  margin-left: 1rem; /* Gap between tabs */
  color: #231f20;
  font-weight: bold !important;
}
.mainnav-quote-button1 {
  margin-left: 20px;
  background-color: #5f6f65;
  color: white; /* Text color */
  border: none; /* Remove border */
  transition: background-color 0.3s; /* Smooth transition */
  font-size: large;
}

.mainnav-quote-button1:hover {
  background-color: white; /* Change background to white on hover */
  color: rgb(3, 28, 29); /* Change text color on hover */
  border: 1px solid rgb(3, 28, 29); /* Add border on hover */
}

.mainnav-image1 {
  margin-left: 15px; /* Space between button and image */
}

.changenavbar-nav {
  display: none;
}
.phone-number-div {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.mobile-icon {
  font-size: 3rem;
  color: #5f6f65;
}
.text-phone {
  font-size: smaller;
  font-weight: bolder;
  color: #5f6f65;
}
.quote-and-contact {
  display: flex;
  align-items: center; /* Vertically centers items within the container */
  justify-content: space-between; /* Adjusts spacing between the elements */
}

.phone-number-div {
  display: flex;
  align-items: center; /* Vertically centers the icon and text */
  gap: 5px; /* Space between the icon and text */
}

@media (min-width: 1400px) {
  .mainnav-collapse {
    display: flex;
    justify-content: center; /* Ensure space between items */
    align-items: center;
    gap: 7rem;
  }
}

@media (max-width: 768px) {
  .mainnav-quote-button1 {
    display: none;
  }
  .mainnav-image1 {
    display: none;
  }
}
@media (max-width: 991px) {
  .changenavbar-nav {
    font-size: 3rem;
    display: flex;
    margin-right: 2rem;
  }
  .changenavbar-link {
    display: flex;
    gap: 1rem;
  }
}
@media (max-width: 425px) {
  .changenavbar-nav {
    font-size: 2rem;
    display: flex !important;
    margin-right: 1rem;
  }
  .changenavbar-link {
    display: flex;
    gap: 0.3rem;
  }
}
