.simplehero-centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  padding-top: 4rem;
}

.simplehero-centered-row {
  width: 100%;
  display: flex;
  flex-direction: row; /* Ensure rows stay aligned */
  justify-content: center; /* Center the row contents */
}

.simplehero-text-column {
  text-align: left;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.simplehero-expresstext-clothing {
  font-size: 2rem;
  font-weight: 700;
}

.simplehero-largetext-express {
  font-size: 1.1rem;
}

.simplehero-image-post {
  width: 10rem;
}

.simplehero-list-express {
  font-size: large;
  font-weight: 600;
}

.simplehero-hero-firstdiv {
  display: flex;
  flex-direction: row; /* Ensure it is always in a row */
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
  /* No flex-wrap, items will stay in a single row */
}

.simplehero-second-firstdiv {
  border: solid 2px #436886;
  padding: 1rem;
  width: 60%;
  max-width: 400px;
  border-radius: 2rem;
}

.simplehero-order-list {
  list-style-type: decimal;
  width: 90%;
  font-size: 1rem;
}

.simplehero-our-productexpress {
  font-size: 1.5rem;
  font-weight: 700;
}

.simplehero-main-image-container {
  text-align: center;
  margin-bottom: 1rem;
}

.simplehero-main-image {
  max-width: 100%;
  height: auto;
}

.simplehero-main-image:hover {
  transform: scale(1.1);
}

.simplehero-thumbnail-carousel {
  display: flex;
  overflow-x: auto;
  padding: 1rem 0;
}

.simplehero-thumbnail-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.simplehero-thumbnail-image:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .simplehero-hero-firstdiv {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    text-align: center;
  }

  .simplehero-second-firstdiv {
    width: auto;
    margin-top: 1rem; /* Add some margin for spacing */
  }
}

@media (max-width: 768px) {
  .simplehero-centered-row {
    flex-wrap: wrap;
  }

  .simplehero-text-column,
  .simplehero-image-column {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center; /* Center align text in columns */
  }

  .simplehero-image-post {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .simplehero-list-express,
  .simplehero-order-list {
    padding-left: 15px;
  }

  .simplehero-largetext-express {
    font-size: 0.9rem;
  }

  .simplehero-our-productexpress {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .simplehero-second-firstdiv {
    width: auto;
  }
}
